<!DOCTYPE html>
<html>
FROM FEATURE 2!
<head>
  <title>GitDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<!-- Modified -->
<!-- Modified from Master 1 -->
<!-- Modified from Master 2 -->
<!-- MODIFIED FROM FEATURE 2 -->
</body>
</html>
